.photos {
	position: relative;
	width: 450px;
	height: 300px;
	box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
	overflow: hidden;
}
.photos div {
	background-position: center center;
	background-size: cover;
}

body {
	font-family: Helvetica, arial, sans-serif;
	padding: 80px;
	font-size: 14px;
}